@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Roboto&display=swap');

:root {
	--main-blue: #1D9BF0;
	--main-white: #fafafa;
	--light-grey: #38444d;
	--lighter-grey: #616d75;
	--bg-blue: #151b29;
}

html, body {
	margin: 0;
	padding: 0;
	font: 12pt 'Roboto';
	color: var(--main-white);
	background-color: var(--bg-blue);
}

body.epilepsie {
	animation: moche 2s linear infinite;
	--main-blue: #c6f01d;
	--main-white: #2587bb;
	--light-grey: #09ff00;
	--lighter-grey: #11ff00;
	--bg-blue: #f9bdfb;
}

@keyframes moche {
	to {
		filter: hue-rotate(360deg);
	}
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

a {
	text-decoration: none;
	color: var(--main-blue);
}

a:hover {
	text-decoration: underline;
}

.page-center {
	width: 600px;
	border-left: 1px solid var(--light-grey);
	border-right: 1px solid var(--light-grey);
	min-height: 100vh;
}

.page-center .page-title {
	box-sizing: border-box;
	flex-direction: column;
	height: 53px;
	display: flex;
	align-items: start;
	justify-content: center;
	padding: 0 20px;
	font: bold 16pt 'Montserrat';
	color: var(--main-white);
	position: sticky;
	top: 0;
	backdrop-filter: blur(15px);
	background: rgba(21, 27, 41, .4);
	z-index: 10;
}

.page-center .page-title .page-subtitle {
	font: 10pt 'Roboto';
	color: var(--lighter-grey);
}


.icon-button {
	position: relative;
	font-size: 16pt;
	cursor: pointer;
	transition: color .15s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-button:before {
	position: relative;
	z-index: 1;
}

.icon-button:after {
	content: '';
	z-index: 0;
	position: absolute;
	width: 100%;
	padding-top: 100%;
	top: 0;
	left: 0;
	background-color: var(--icon-color, var(--main-blue));
	opacity: 0;
	transform: scale(1.75);
	border-radius: 50%;
	transition: opacity .15s ease;
}

.icon-button:hover {
	color: var(--icon-color, var(--main-blue));
}

.icon-button:hover:after {
	opacity: .2;
}

.button {
	box-sizing: border-box;
	padding: 8px 12px;
	background-color: var(--button-color, var(--main-blue));
	color: #fff;
	font: bold 12pt 'Montserrat';
	text-align: center;
	outline: none;
	border: none;
	border-radius: 10em;
	cursor: pointer;
	text-decoration: none;
}

.button.alt {
	background-color: transparent;
	border: 1px solid var(--light-grey);
	transition: background-color .15s ease;
}

.button.alt:hover {
	background-color: #ffffff20;
}

.tweet-list.empty {
	border-bottom: 1px solid var(--light-grey);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	font: bold 20pt 'Montserrat';
	color: var(--light-grey);
}