.text-input {
	position: relative;
	margin: 6px 0;
}

.text-input input,
.text-input .textarea {
	box-sizing: border-box;
	font: 14pt 'Roboto';
	width: 100%;
	appearance: none;
	border: 1px solid var(--light-grey);
	color: #fff;
	padding: 14px 6px;
	border-radius: 8px;
	background: transparent;
	outline: 0px solid transparent;
	transition: outline .1s linear;
}

.text-input .textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	color: var(--main-white);
	overflow: hidden;
	height: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
	cursor: text;
	min-height: 40px;
}

.text-input .text-input-placeholder {
	position: absolute;
	font-size: 0.8rem;
	top: 2px;
	transform: translateY(0);
	left: 8px;
	color: var(--light-grey);
	transition: all .3s ease;
	pointer-events: none;
}

.text-input input:focus,
.text-input .textarea:focus {
	outline: 2px solid var(--main-blue);
	border-color: transparent;
}

.text-input input:placeholder-shown~.text-input-placeholder,
.text-input .textarea:empty~.text-input-placeholder {
	top: 50%;
	transform: translateY(-50%);
	font: 1.1rem 'Roboto';
}

.text-input input:focus~.text-input-placeholder,
.text-input .textarea:focus~.text-input-placeholder {
	color: var(--main-blue);
	font-size: 0.8rem;
	top: 2px;
	transform: translateY(0);
}

.text-input .text-input-eye {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.text-input .text-input-eye .text-input-eye-closed {
	display: none;
}

.text-input .text-input-eye.open .text-input-eye-closed {
	display: block;
}

.text-input .text-input-eye.open .text-input-eye-open {
	display: none;
}

.text-input .limit-indicator {
	position: absolute;
	top: 3px;
	right: 5px;
	color: var(--main-white);
	font-size: 10pt;
}

.text-input.invalid .limit-indicator {
	color: #b61212;
}

.text-input.invalid input {
	outline-color: #b61212 !important;
	border-color: #b61212 !important;
}

.text-input.invalid .text-input-placeholder {
	color: #b61212 !important;
}