.tweet-form {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid var(--light-grey);
	box-sizing: border-box;
}

.tweet-form .flex-input {
	display: flex;
	flex-direction: row;
}

.tweet-form .flex-input img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 10px;
	margin-top: 10px;
}

.tweet-form .text-input {
	width: calc(100% - 58px)
}

.tweet-form .text-input .textarea {
	border: none !important;
	outline: none !important;
}

.tweet-form .content:empty:before {
	content: 'Quoi de neuf ?';
	color: var(--light-grey);
}

.tweet-form .image-preview-container img {
	margin-left: 58px;
	max-width: calc(100% - 58px);
	max-height: 600px;
	object-fit: cover;
	margin-bottom: 8px;
	border-radius: 8px;
}

.tweet-form input[type='file'] {
	display: none;
}

.tweet-form label[for='image'] {
	margin-left: 58px;
}

.tweet-form input[type='submit'] {
	position: absolute;
	bottom: 10px;
	right: 10px;
	transition: .15s ease;
}