.tweet {
	box-sizing: border-box;
	width: 100%;
	position: relative;
	border-bottom: 1px solid var(--light-grey);
	display: flex;
	flex-direction: row;
	padding: 10px;
	cursor: pointer;
	transition: background-color .3s ease;
}

.not-found-tweet {
	padding: 10px;
	border-bottom: 1px solid var(--light-grey);
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-found-tweet .not-found-message {
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding: 10px;
	background: var(--light-grey);
	border: 1px solid var(--lighter-grey);
	border-radius: 10px;
}

.tweet.deleted {
	padding-top: 30px;
}

.tweet.deleted:before {
	content: 'Ce tweet a été supprimé';
	font-style: italic;
	position: absolute;
	top: 5px;
	left: 10px;
	color: var(--light-grey);
}

.tweet:hover {
	background-color: #ffffff05;
}

.tweet .delete {
	top: 5px;
	right: 5px;
	font-size: 14pt;
	position: absolute;
	cursor: pointer;
	transition: .15s ease;
	--icon-color: #f53b3b;
}

.tweet .ref {
	position: relative;
	color: var(--lighter-grey);
	font-size: 10pt;
	text-decoration: none;
}

.tweet .ref i {
	margin-right: 5px;
}

.tweet .ref:hover {
	text-decoration: underline;
}

.tweet .left {
	padding-right: 10px;
}

.tweet .left .avatar {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-top: 2px;
	object-fit: cover;
}

.tweet .right {
	position: relative;
	width: calc(100% - 58px);
}

.tweet .right .tweet-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tweet .right .tweet-heading .tweet-author-displayname {
	color: #fff;
	text-decoration: none;
	margin-right: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 50%;
}

.tweet .right .tweet-heading .tweet-author-displayname:hover {
	text-decoration: underline;
}

.tweet .right .tweet-heading .tweet-author-username {
	color: #616d75;
	margin-right: 5px;
}

.tweet .right .tweet-heading .tweet-time {
	color: #616d75;
}

.tweet .right .tweet-content {
	position: relative;
	width: 100%;
	margin: 5px 0;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.tweet .right .tweet-replying-to {
	padding-top: 5px;
	color: var(--light-grey);
}

.tweet.full .right .tweet-content {
	padding: 5px 0;
	font-size: 16pt;
}

.tweet .right .tweet-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-radius: 8px;
	cursor: pointer;
}

.tweet .right .tweet-image-fullscreen-container .tweet-image-fullscreen-close {
	display: none;
}

.tweet.fullscreen .tweet-image-fullscreen-container {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tweet.fullscreen .tweet-image-fullscreen-container .tweet-image {
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
	border-radius: 0;
	cursor: default;
}

.tweet.fullscreen .tweet-image-fullscreen-container .tweet-image-fullscreen-close {
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #fff;
	font-size: 20pt;
	padding: 10px;
	cursor: pointer;
}

.tweet-footer-counters {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	padding: 10px 0;
	border-top: 1px solid var(--light-grey);
	border-bottom: 1px solid var(--light-grey);
}

.tweet-footer-counters .tweet-footer-counter {
	margin-right: 10px;
	display: flex;
	flex-direction: row;
}

.tweet-footer-counters .tweet-footer-counter .number {
	font: bold 12pt 'Roboto';
	margin-right: 4px;
}

.tweet-footer-counters .tweet-footer-counter .label {
	color: var(--lighter-grey)
}

.tweet-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	margin-top: 5px;
}

.tweet-footer .tweet-action {
	cursor: pointer;
	transition: color .15s ease;
}

.tweet-action .count {
	pointer-events: none;
}

.tweet.full .tweet-action .count {
	display: none;
}

.tweet-footer .tweet-action i {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
	z-index: 1;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	transition: background-color .15s ease;
	pointer-events: none;
}

.tweet-footer .tweet-action.retweet:hover, .tweet-footer .tweet-action.retweet.active {
	color: #00ba7c;
}

.tweet-footer .tweet-action.retweet:hover i {
	background-color: #00ba7c25;
}

.tweet-footer .tweet-action.like:hover, .tweet-footer .tweet-action.like.active {
	color: #f91880;
}

.tweet-footer .tweet-action.like:hover i {
	background-color: #f9188025;
}

.tweet-footer .tweet-action.reply:hover, .tweet-footer .tweet-action.reply.active {
	color: #1d9bf0;
}

.tweet-footer .tweet-action.reply:hover i {
	background-color: #1d9bf025;
}