include TextInput

mixin TweetForm(repliesTo)
	form.tweet-form(action='/api/tweets/add', method='post', enctype='multipart/form-data')
		.flex-input
			a(href=`/profile/${user.username}`)
				if user.avatarId
					img.avatar(src=`/public/${user.avatarId}.jpg`)
				else
					img.avatar(src=`/public/default_avatar.jpg`)
			+TextInput('content', false, true, 'Quoi de neuf ?', 280)
		.image-preview-container
		input#image(type='file', name='image', accept='image/jpeg,image/png')
		label(for='image').fa-regular.fa-image.icon-button
		if repliesTo 
			input(type='hidden', name='repliesTo', value=repliesTo)
		input(type='submit', value='Tweeter').button