mixin new-tweet
	form.new-tweet(action='/api/tweets/add', method='post', enctype='multipart/form-data')
		.flex-input
			a(href=`/profile/${user.username}`) 
				img.avatar(src=`/public/${user.avatarId}.jpg`)
			.content(contentEditable='true')
		.media-preview-container
		input#media(type='file', name='media', accept='image/jpeg,image/png')
		label.media-icon(for='media').fa-regular.fa-image
		input(type='hidden', name='content')
		input(type='hidden', name='author', value=`${user.id}`)
		input(type='submit', value='Tweeter')