include includes/_tweet-list
include includes/_new-tweet
doctype html
html
	head
		include includes/_head
		script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js')
		script(src='/public/js/tweet.js', defer)
		script(src='/public/js/form.js', defer)
		link(rel='stylesheet', href='/public/css/home.css')
		link(rel='stylesheet', href='/public/css/tweet.css')
		link(rel='stylesheet', href='/public/css/new-tweet.css')
		title Home - Retweet
	body 
		.page-center
			.page-title Accueil
			+new-tweet
			+tweet-list('home-timeline')
		a(href='/logout') Logout