include mixins/TweetList
include mixins/TweetForm
doctype html
html
	head
		include _head
		script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js')
		script(src='/public/js/Tweet.js', defer)
		script(src='/public/js/TextInput.js', defer)
		script(src='/public/js/TweetForm.js', defer)
		script(src='/public/js/tweet-view.js', defer)
		link(rel='stylesheet', href='/public/css/home.css')
		link(rel='stylesheet', href='/public/css/Tweet.css')
		link(rel='stylesheet', href='/public/css/TweetForm.css')
		link(rel='stylesheet', href='/public/css/TextInput.css')
		title Tweet - Retweet
	body 
		.page-center
			.page-title Tweet
			for o of origins
				+Tweet(o, false)
			+Tweet(tweet, true, origins[origins.length - 1])
			+TweetForm(`Répondre à @${tweet.author.username}`, tweet.id)
			+TweetList(replies, 'tweet-replies')
		a(href='/logout') Logout